/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background: transparent;
}

body, html {
  /* important */
  height: 100%;

}

a {
  color: #b4d7a8;
  text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.borders{ 
  border:1px solid black;
}
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
  margin-top: 100px;

}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.nav a {  
  color: #5a5a5a;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  color: rgb(47,43,38);
  position: relative;
  display: inline;
  padding-top: 30px;
  top: -150px;
}
.btn{
  position: absolute;
  left: 25%;
  top: 90%;
  color: white; 
    font: 24px/45px 'Raleway', Sans-Serif; 
    font-size: 58px;  
    word-spacing: -2px;  
}
.btn-primary {
    background: rgb(126,154,140);
   }
.stats{
  color: rgb(47,43,38);
  margin-top: 30px;
  margin-bottom: 10px;
  height: 90px;
  text-align: center;
  font-size: 40px;
}
.button{
  color: rgb(47,43,38);
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 30px;
  height: 250px;
  text-align: center;
  font-size: 40px;
}

.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;

}

.cd-fixed-bg {
  position: relative;
  min-height: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;

}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
.cd-fixed-bg.cd-bg-1 {

  background-color: rgba(0, 0, 0, 0.1);
}
.cd-fixed-bg.cd-bg-1 h1{  
  text-align: center;
  margin-left: 0px;
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif; 
  letter-spacing: -1px;
  padding: 10px;
  font-size: 140px;
}
.cd-fixed-bg.cd-bg-1 p{
  position: absolute;
  left: 44%;
  top: 75%;
  color: white; 
    font: 24px/45px 'Raleway', Sans-Serif; 
    font-size: 18px;  
    word-spacing: -2px;  
}

@media only screen and (min-width: 768px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 48px;
    font-weight: 300;
  }
}

.cd-scrolling-bg {
  position: relative;
  min-height: 80%;
  padding: 4em 0;
  line-height: 1.6;  
  z-index: 2;
}
.cd-scrolling-bg.cd-color-1 {
  background-color: rgba(247, 232, 214, 0.9);
  color: #a6989a;
  color: rgb(47,43,38);
}
.cd-scrolling-bg.cd-color-2 h2{
  margin-top: 0px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 54px;
}
.cd-scrolling-bg.cd-color-2 p{
  margin-top: 5px;
  text-align: center;
  font-size: 32px;
  font-family: 'Raleway';
  line-height: 110%;
}
#table td{
  margin: 90px;
}
#explan {
  margin-top: 40px;
  margin-bottom: 44px;
  line-height: 150%;
  font-size: 24px;
}
#explan1 {
  margin-top: 120px;
  margin-bottom: 44px;
  line-height: 150%;
  font-size: 24px;
}
#head2{
  top: 7%;
  position: absolute;
  text-align: center;
  font-size: 80px;
  font-family: 'Pacifico', cursive;
}

.details{
  font:'Raleway', Sans-Serif;
  font-size: 25px;
  color: white;
  position: absolute;
  top:50%;
  left: 1%;
  text-align: center;
  line-height: 120%;
}


.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}
.cd-scrolling-bg.cd-color-1 p{
  font:'Raleway', Sans-Serif;
  font-size: 24px;
  color: #3d3536;
  text-align: center;
}

.cd-scrolling-bg.cd-color-2 {
  background-color: rgba(247, 232, 214, 0.9);
  color: #3d3536;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: rgba(247, 232, 214, 0.9);
  color: #3d3536;
}

